@font-face{
  font-family:'ChunkFiveRegular';
  src:url('chunk-webfont.eot');
  src:local('☺'),url('chunk-webfont.woff') format('woff'),url('chunk-webfont.ttf') format('truetype'),url('chunk-webfont.svg#webfontp2unCWQ0') format('svg');
  font-weight:normal;
  font-style:normal;
}

