@font-face {
  font-family: 'Linux Libertine';
  src: url('linlibertine_re-4.7.5-webfont.eot');
  src: local('Linux Libertine'), url('linlibertine_re-4.7.5-webfont.woff') format('woff'), url('linlibertine_re-4.7.5-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

