@font-face {
  font-family: 'LatinModernMonoSlanted10Regul';
  src: url('lmmonoslant10-regular-webfont.eot');
  src: local('☺'), url('lmmonoslant10-regular-webfont.woff') format('woff'), url('lmmonoslant10-regular-webfont.ttf') format('truetype'), url('lmmonoslant10-regular-webfont.svg#webfontpL2TNuMK') format('svg');
  font-weight: normal;
  font-style: italic;
}

