@import "keys.less";
@code_bg: #e0eeff;
@darkerBlue: #000070;

code {
    background-color: @code_bg;
}

div.ruby {
    background-color: @code_bg;
    .CodeRay {
        background-color: transparent;
    }
}

pre.output {
    background-color: #ccc;
    color: @darkerBlue;
    code {
        background-color: transparent;
    }
    span.REinput {
        font-style: italic;
        color: darkRed;
        text-shadow: 1px 1px 1px antiqueWhite;

    }
}

h1>code, h2>code {
    background-color: transparent;
}

